h1, h2, h3, h4, h5, h6{
	font-family: Tahoma;
	margin-top: 0px;
	margin-bottom: 5px;
}
p{
	font-family: Calibri, sans-serif, Helvetica;
}
.col-md-8, .col-md-4, .col-sm-12{
	padding: 0px;
}

/**------BODY-------
	*Mobile-size
**/

.body-content{
	padding: 30px 20px;
	width: 100%;
}
.news-swap {
	margin-right: 1px solid #ddd;
}
.news-swap ul {
	list-style-type: none;
	padding-left: 0px;
}
.news-item {
	padding: 20px 0px 10px;
	border-bottom: 1px solid #ddd;
}
.news-item .thumbnail{
	border: 0;
	padding: 0;
}
.news-item .title-news{
	text-decoration: none;
}
.news-item .title-news h1{
	font-size: 20px;
	font-weight: 600;
    color: #333;
    padding: 0px 0px 10px;
    line-height: 1.3em;
}
.news-item .title-news h1:hover,
.news-item .title-news h1:active {
	color: #ee6123;
}
.news-item p{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
   	-webkit-line-clamp: 4;
   	font-size: 17px;
   	line-height: 1.5em;
   	max-height: 6em;
   	color: #222;
}
.news-item .content-news{
	height: auto;
	width: 100%;
	display: flex;
}
.news-item .content-left {
	float: left;
	width: 45%;
}
.news-item .thumbnail img{
	width: 100%;
	height: auto;
}
.news-item .content-right{
	float: right;
	width: 55%;
   	padding-left: 3%;
}
.news-item .content-right p.time-post{
	padding-top: 10px;
	font-size: 15px;
	font-style: italic;
	color: #555;
}
.hot-news{
	border-bottom: 1.5px solid #ee6123;
	padding: 0px 0px 20px;
}
.hot-news .title-news h1{
	font-size: 22px;
    color: #000;
}

.news-swap .view-more{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.btn-view-more{
	border: 1px solid #777;
	border-radius: 3px;
	background-color: #fff;
	padding: 10px 20px;
	color: #888;
	outline: none;
}
.btn-view-more:hover,
.btn-view-more:active {
	background-color: #ee6123;
	color: #fff;
	border: 1px solid #ee6123;
}
.suggest-film-swap {
	display: none;
}
@media screen and (min-width: 768px){
	.body-content{
		padding: 50px;
		width: 100%;
	}
}

@media screen and (min-width: 992px){
	.body-content{
		padding: 50px 100px;
		width: 100%;
	}
	.news-swap{
		padding: 0px 10px;
	}
	.news-swap:before{
		background: -webkit-linear-gradient(to right, #eee, transparent 100%);
	    background: -o-linear-gradient(to right, #eee, transparent 100%);
	    background: -moz-linear-gradient(to right, #eee, transparent 100%);
		background: linear-gradient(to right, #eee, transparent 100%);
	    content: '';
	    position: absolute;
	    top: 0px;
	    right: -20px;
	    width: 20px;
	    height: 100%;
	    z-index: -1;
	}
	.suggest-film-swap{
		padding-left: 20px;
		display: block;
	}
	.suggest-film-swap img{
		width: 100%;
		height: auto;
	}

	.suggest-film{
		margin-bottom: 50px;
		border-radius: 3px;
		padding-left: 20px;
	}
	.suggest-film-header{
		display: flex;
		align-items: center;
		padding-bottom: 5px;
		border-bottom: 1.5px solid #ee6123;
		margin-top: -5px;
	}
	.suggest-film-header img{
		width: 24px;
		height: 24px;
	}
	.suggest-film-header span{
		font-size: 22px;
		font-weight: 600;
		padding-left: 10px;
	}
	.suggest-film-content{
		display: flex;
		flex-direction: column;
	}
	.suggest-film-content .film-item {
		padding: 10px 0px;
		border-bottom: 1px solid #ccc;
	}
	.suggest-film-content .film-item .thumbnail{
		border: 0px;
		padding: 0px;
		margin-bottom: 15px;
		position: relative;
	}
	.suggest-film-content .film-item .thumbnail img{
		width: 100%;
		height: auto;
	}
	.suggest-film-content .film-item .background-linear {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    overflow: hidden;
	    width: 100%;
	    height: 0;
	    transition: .5s ease;
	    background: -webkit-linear-gradient(to top, #0a2029, transparent 100%);
	    background: -o-linear-gradient(to top, #0a2029, transparent 100%);
	    background: -moz-linear-gradient(to top, #0a2029, transparent 100%);
	    background: linear-gradient(to top, #0a2029, transparent 100%);
	}
	.suggest-film-content .film-item .thumbnail:hover .background-linear{
		top: 0;
		height: 100%;
	}

	.suggest-film-content .film-item .thumbnail .background-linear .icon{
		height: 40%;
		width: auto;
	}
	.film-item a{
		text-decoration: none;
	}
	.film-item .title-film h1{
		font-size: 16px;
		font-weight: 600;
	    color: #000;
	    line-height: 1.3em;
	}
	.film-item .title-film h2{
		font-size: 15px;
	    color: #000;
	    padding: 0px 0px 10px;
	    line-height: 1.3em;
	}
	.film-item .title-film h1:hover,
	.film-item .title-film h1:active {
		color: #ee6123;
	}
	.film-info p{
		overflow: hidden;
	   	text-overflow: ellipsis;
	   	display: -webkit-box;
	   	-webkit-box-orient: vertical;
	   	-webkit-line-clamp: 4;
	   	font-size: 14px;
	   	line-height: 1.5em;
	   	max-height: 6em;
	   	color: #888;
	   	margin-bottom: 5px;
	}


