h1, h2, h3, h4, h5, h6{
    font-family: Tahoma;
    margin-top: 0px;
    margin-bottom: 5px;
}
p{
    font-family: Calibri, sans-serif, Helvetica;
}
.body-content button,
.body-content span{
    font-family:Calibri;
}
/*BODY*/
.body-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    padding: 10px 30px;
    border-radius: 3px;
}
.form .ground{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form .crossbar{
    display: block;
    text-align: center;
    text-transform:uppercase;
}
.crossbar:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #777;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
}
.crossbar span{
    width: auto;
    z-index: 1;
    padding: 0px 5px;
    position: relative;
    background: #eee;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
}
    .form h1 {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        margin:20px 0px;
    }

    .form button {
        font-size: 14px;
        color: #fff;
        padding: 10px 40px;
        margin-bottom: 10px;
        outline: none;
        border: 0;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .form .btn-facebook {
        background: #3b5999;
    }

    .form .btn-google {
        background: #dd4c39;
    }

    .form input {
        height: 40px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
    }

    .form .btn-signup {
        background: #fb822b;
        font-size: 16px;
    }

    .form .exist-account {
        text-align:center;
        font-weight:bold
    }

    .form .exist-account a{
        font-family: Calibri;
        text-align:center;
        font-weight:bold
    }

