h1, h2, h3, h4, h5, h6{
	font-family: Tahoma;
	margin-top: 0px;
	margin-bottom: 5px;
}
p{
	font-family: Calibri, sans-serif, Helvetica;
}
header{
	width: 100%;
	position: relative;
}
.container{
	width: 100%;
	padding: 0px;
}
.row{
	margin: 0;
}
/*--TOPBAR--*/
/*-------------------------------------*/
.topbar{
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	box-shadow: 1px 2px 3px #777;
	z-index: 1;
}
/*--logo--*/
.logo{
	text-align: center;
	height: auto;
	display: inline-block;
}
.logo img{
	width: 50px;
	height: auto;	
}

/*--topbar-menu--*/
.topbar-menu{
	font-weight: 600px;
}
.menu{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menu-item{
	margin: 0px 20px;
	font-weight: 600;
	font-size: 16px;
}
.menu-item a{
	color: #777;
	text-decoration: none;
}
.menu-item a:hover{
	color: #FF6347;
}

/*--search-box--*/
.search-box{
	height: 40px;
	width: 90%;
	border-radius: 50px;
	padding: 0px 10px;
	color: #777;
	outline: none;
}
::-webkit-input-placeholder {
   color: #ccc;
}

/*--account-icon--*/
.account-icon{
	margin: auto;
	text-align: center;
}
.account-icon a img{
	width: 40px;
	height: auto;
	border-radius: 100%;
}

/*--SLIDESHOW--*/
	/*-------------------------------------*/
.slideshow{
	height: 90%;
	position: relative;
}
.slideshow-img{
	position: relative;
	margin: auto;
	z-index: -1;
}
.slide-item{
	display: none;
}
.slide-item img{
	width: 100%;
	height: 100%;
}
.background-slide{
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
    background: -webkit-linear-gradient(to top, #000, transparent 20%);
    background: -o-linear-gradient(to top, #000, transparent 20%);
    background: -moz-linear-gradient(to top, #000, transparent 20%);
	background: linear-gradient(to top, #000, transparent 20%);
    top: 0;
}
.prev-slide, .next-slide {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: auto;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	font-size: 50px;
	display: none;
}
.prev-slide:hover, .next-slide:hover {
	color: #FF6347;
	text-decoration: none;
}
.next-slide{
	right: 0;
}
.dot-swap{
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -40px;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot.active, .dot:hover{
	background-color: #FF6347;
}
.anim{
	-webkit-animation-name: anim;
	-webkit-animation-duration: 2s;
	animation-name: anim;
	animation-duration: 2s;
}
@-webkit-keyframes anim{
	from {opacity: .7;}
    to {opacity: 1;}
}
@keyframes anim{
	from {opacity: .7;}
    to {opacity: 1;}
}

/*--FILTER--*/
/*-------------------------------------*/
.filter{
	display: none;
	position: absolute;
	bottom: -40px;
	left: 20%;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #777;
	width: 60%;
	background-color: #fff;
}
.filter-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
select{
	text-align: left;
}
.filter-item{
	width: calc(95%/6);
	padding: 7px 0px;
	margin: 25px 0;
	border: 0px;
	border-right: 1px solid #ccc;
	font-weight: bold;
	color: #555;
	outline: none;
}
.btn-filter{
	width: 12%;
	margin: 25px 10px;
	border: 0px;
	border-radius: 3px;
	background-color: #ee6123; 
	color: #fff;
}

/*--BODY - LIST PHIM--*/
/*-------------------------------------*/
#body-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*margin: 30px 0px;*/
}

/*-------------Header-movies-list------------*/
.news-list-header, .movies-list-header{
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 10px;
	background-color: #ee6123;
}
.news-list-header h1, .movies-list-header h1{
	margin: auto;
	font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-left: 20px;
}
.news-list-header a:hover, .movies-list-header a:hover{
	cursor: pointer;
}

/*-----------Content-movies-list-----------*/
.carousel { 
	margin-bottom: 0;
}
.carousel-control {
	display: none;
}
.carousel-inner .item{
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-inner .item:nth-child(even) {
	background: #fff;
}
.carousel-inner .item:nth-child(odd) {
	background: #eee;
}
.item .col-md-3, .item .col-xs-12, .item .col-sm-6{
	padding: 10px 10px;
}
.item .thumbnail {
	margin-bottom: 0px;
	float: left;
	width: 45%;
}
.item .thumbnail img{
	width: 100%;
	height: 100px;
}
.item .film-info{
	float: right;
	width: 55%;
	padding-left: 20px;
}
.item .title-film, 
.news-item .title-news{
	text-decoration: none;
}
.item .film-info .title-film h1,
.news-item .title-news h1{
   	-webkit-line-clamp: 2;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
   	text-overflow: ellipsis;
   	overflow: hidden;
	font-size: 15px;
	font-weight: 600;
    color: #000;
}
.item .film-info .title-film h2,
.news-item .title-news h2{
	-webkit-line-clamp: 1;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
   	text-overflow: ellipsis;
   	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
    color: #000;
}
.item .film-info p{
	margin-top: 15px;
	font-size: 13px;
    color: #555;
}


@media screen and (min-width: 768px){
	
}

@media screen and (min-width: 992px){
	.filter{
		display: block;
	}
	/*--BODY - LIST PHIM--*/
	/*-------------------------------------*/
	#body-content{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 100px 50px 0px 50px;
	}
	.movies-list{
		padding: 0px 0px 50px 0px;
	}


	/*Header-movies-list*/
	.news-list-header, .movies-list-header{
		display: flex;
		text-align: center;
		justify-content: center;
		margin: 0px 0px 30px 0px;
		position: relative;
	}
	.news-list-header:before , .movies-list-header:before{
		content: '';
	    display: block;
	    width: 100%;
	    height: 1px;
	    background: #ee6123;
	    position: absolute;
	    top: 50%;
	}
	.news-list-header a, .movies-list-header a{
		text-decoration: none;
	  	z-index: 1;
	}
	.news-list-header a h1, .movies-list-header a h1{
		margin: auto;
		font-size: 16px;
	    font-weight: 600;
	    color: #fff;
	    text-transform: uppercase;
	}
	.news-list-header a:hover, .movies-list-header a:hover{
		cursor: pointer;
	}
	.arrow-line{
	  background-color: #ee6123;
	  border-bottom: 0 solid transparent;
	  border-top: 0 solid transparent;
	  height: 40px;
	  width: auto;
	  padding: 0px 20px;
	  float: left;
	  display: flex;
	}
	.triangle-left{
	  height:  0px; 
	  width: 0px;
	  border-left: 20px solid #ee6123;
	  border-top: 20px solid transparent;
	  border-bottom: 20px solid transparent;
	  float: left;
	}
	.triangle-right{
	  height: 0px; 
	  width: 0px; 
	  float:left;
	  border-right: 20px solid #ee6123;
	  border-top: 20px solid transparent;
	  border-bottom: 20px solid transparent;
	}

	/*Content-movies-list*/

	.carousel { 
		margin-bottom: 0;
	}
	.carousel-control {
		height: 40px;   
		width: 40px;
		font-size: 15px;
		background-color: #fff;
		top: 90px;
		left: -15px;
		border-radius: 100%;
		opacity: 1;
		margin-top: -20px;
		text-shadow: none;
		box-shadow: -1px 2px 2px #ccc;
		display: flex;
		cursor: pointer;
	}
	.carousel-control p{
		margin: auto;
		color: #555;
		font-weight: bold;
	}
		
	.carousel-control:hover {
		opacity: 1;
		text-decoration: none;
		color: #555;
	}
	.carousel-control:active {
		background-color: #ccc;
	}

	.carousel-control.right, .carousel-control.left {
		background-image: none;
	}
	.carousel-control.right{
		right: -15px;
		box-shadow: 1px 2px 2px #ccc;
	}
	.carouel-inner.active{
		background-color: none;
		opacity: 0;
	}
	.carouel-inner.item{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.active.col-md-3:first-child{
		padding-left: 0px;
	}
	.item .col-md-3, .item .col-xs-12, .item .col-sm-6{
		padding: 0px 5px;
	}
	.thumbnail {
		margin-bottom: 15px;
	}
	.item .thumbnail img{
		width: 100%;
		height: 165px;
	}
	.item .title-film, .news-item .title-news{
		text-decoration: none;
	}
	.item .title-film h1, .news-item .title-news h1{
		font-size: 16px;
	    font-weight: 700;
	    color: #555;
	}
	.item .title-film h1:hover, .news-item .title-news h1:hover{
		color: #ee6123;
	}


}


/*--BODY - LIST TIN TUC--*/
/*-------------------------------------*/
.news-list{
	padding: 0px 0px 30px 0px;
}
.news-list-content{
	margin: 0px -10px;
}
.news-item{
	margin-bottom: 20px;
}
.max-lines{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
   	-webkit-line-clamp: 2;
   	font-size: 14px;
   	line-height: 1.5em;
}
.small-thumbnail img{
	width: 60px;
	height: 60px;
	border-radius: 3px;
}
.news-right-list{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.news-right-list .news-item{
	margin-bottom: 20px;
	clear: both;
	display: flex;
	align-items: center;
}
.small-thumbnail{
	float: left;
	margin-right: 20px;
}
.news-right-list  .title-news h1{
	font-weight: 100;
    line-height: 1.5em;
}














.carousel-showmanymoveone .cloneditem-1,.carousel-showmanymoveone .cloneditem-2,.carousel-showmanymoveone .cloneditem-3 {  
	display: none;
}

@media all and (min-width: 576px) {  
	.carousel-showmanymoveone .carousel-inner > .active.left,  .carousel-showmanymoveone .carousel-inner > .prev {    
		left: -50%;  
	}  
	.carousel-showmanymoveone .carousel-inner > .active.right,  .carousel-showmanymoveone .carousel-inner > .next {    
		left: 50%;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .left,  .carousel-showmanymoveone .carousel-inner > .prev.right,  .carousel-showmanymoveone .carousel-inner > .active {    
		left: 0;  
	}  
	.carousel-showmanymoveone .carousel-inner .cloneditem-1{    
		display: block;  
	}
}
 
@media all and (min-width: 576px) and (transform-3d), all and (min-width: 576px) and (-webkit-transform-3d) {  
	.carousel-showmanymoveone .carousel-inner > .item.active.right,  .carousel-showmanymoveone .carousel-inner > .item.next {    
	-webkit-transform: translate3d(50%, 0, 0);            
	transform: translate3d(50%, 0, 0);    
	left: 0;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .item.active.left,  .carousel-showmanymoveone .carousel-inner > .item.prev {    
		-webkit-transform: translate3d(-50%, 0, 0);            
		transform: translate3d(-50%, 0, 0);    
		left: 0;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .item.left,  .carousel-showmanymoveone .carousel-inner > .item.prev.right,  .carousel-showmanymoveone .carousel-inner > .item.active {    
		-webkit-transform: translate3d(0, 0, 0);            
		transform: translate3d(0, 0, 0);    
		left: 0;  
	}
}
 
@media all and (min-width: 768px) {  
	.carousel-showmanymoveone .carousel-inner > .active.left,  .carousel-showmanymoveone .carousel-inner > .prev {    
		left: -33.33%;  
	}  
	.carousel-showmanymoveone .carousel-inner > .active.right,  .carousel-showmanymoveone .carousel-inner > .next {    
		left: 33.33%;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .left,  .carousel-showmanymoveone .carousel-inner > .prev.right,  .carousel-showmanymoveone .carousel-inner > .active {    
		left: 0;  
	}  
	.carousel-showmanymoveone .carousel-inner .cloneditem-1, .carousel-showmanymoveone .carousel-inner .cloneditem-2 {    
		display: block;  
	}
}
 
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {  
	.carousel-showmanymoveone .carousel-inner > .item.active.right,  .carousel-showmanymoveone .carousel-inner > .item.next {    
	-webkit-transform: translate3d(33.33%, 0, 0);            
	transform: translate3d(33.33%, 0, 0);    
	left: 0;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .item.active.left,  .carousel-showmanymoveone .carousel-inner > .item.prev {    
		-webkit-transform: translate3d(-33.33%, 0, 0);            
		transform: translate3d(-33.33%, 0, 0);    
		left: 0;  
	}  
	 
	.carousel-showmanymoveone .carousel-inner > .item.left,  .carousel-showmanymoveone .carousel-inner > .item.prev.right,  .carousel-showmanymoveone .carousel-inner > .item.active {    
		-webkit-transform: translate3d(0, 0, 0);            
		transform: translate3d(0, 0, 0);    
		left: 0;  
	}
}
 
@media all and (min-width: 992px) {  
	.carousel-showmanymoveone .carousel-inner > .active.left,  .carousel-showmanymoveone .carousel-inner > .prev {    
	left: -25%;  
}  
 
.carousel-showmanymoveone .carousel-inner > .active.right,  .carousel-showmanymoveone .carousel-inner > .next {    
	left: 25%;  
}  
 
.carousel-showmanymoveone .carousel-inner > .left,  .carousel-showmanymoveone .carousel-inner > .prev.right,  .carousel-showmanymoveone .carousel-inner > .active {    
	left: 0;  
}  
 
.carousel-showmanymoveone .carousel-inner .cloneditem-2,  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {    
	display: block;  
	}
}
 
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {  
	.carousel-showmanymoveone .carousel-inner > .item.active.right,  .carousel-showmanymoveone .carousel-inner > .item.next {    
		-webkit-transform: translate3d(25%, 0, 0);            
		transform: translate3d(25%, 0, 0);    
		left: 0;  
	}  
	.carousel-showmanymoveone .carousel-inner > .item.active.left,  .carousel-showmanymoveone .carousel-inner > .item.prev {    
		-webkit-transform: translate3d(-25%, 0, 0);            
		transform: translate3d(-25%, 0, 0);    
		left: 0;  
	}  
	.carousel-showmanymoveone .carousel-inner > .item.left,  .carousel-showmanymoveone .carousel-inner > .item.prev.right,  .carousel-showmanymoveone .carousel-inner> .item.active {    
		-webkit-transform: translate3d(0, 0, 0);            
		transform: translate3d(0, 0, 0);    
		left: 0;  
	}
}
 
/*.container {  
	margin-bottom: 10px;
}*/
 
 
/*@media only screen and (min-width: 768px) {  
	.logo {    
	margin: 28px;    
	float: left;  
	}
}
 
.title {  
	padding: 28px;  
	display: table-cell;  
	position: relative;  
	vertical-align: middle;  
	text-align: center;
 
}*/
